<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>


	<bean id="IDatabaseConnection" class="at.ac.tuwien.e0525580.omov2.model.db4o.Db4oConnection">
		<constructor-arg><value>omov.db4</value></constructor-arg>
	</bean>
	<bean id="IMovieDao" class="at.ac.tuwien.e0525580.omov2.model.db4o.Db4oMovieDao"><constructor-arg>
		<ref bean="IDatabaseConnection"/></constructor-arg></bean>
	<bean id="ISmartFolderDao" class="at.ac.tuwien.e0525580.omov2.model.db4o.Db4oSmartFolderDao"><constructor-arg>
		<ref bean="IDatabaseConnection"/></constructor-arg></bean>

	<!-- 
	<bean id="IDatabaseConnection" class="at.ac.tuwien.e0525580.omov2.model.hsqldb.HsqldbConnection"></bean>
	<bean id="IMovieDao" class="at.ac.tuwien.e0525580.omov2.model.hsqldb.HsqldbMovieDao"><constructor-arg>
		<ref bean="IDatabaseConnection"/></constructor-arg></bean>
	<bean id="ISmartFolderDao" class="at.ac.tuwien.e0525580.omov2.model.hsqldb.HsqldbSmartFolderDao"><constructor-arg>
		<ref bean="IDatabaseConnection"/></constructor-arg></bean>
	 -->
	 
	 
	<!--  INTEGER NOT NULL PRIMARY KEY -->
	<!-- DROP TABLE mytable IF EXISTS -->
	
	<bean id="CREATE_MOVIE" class="java.lang.String"><constructor-arg><value>
		CREATE TABLE movie( 
		  id BIGINT IDENTITY,
		  title VARCHAR NOT NULL,
		  genre VARCHAR NOT NULL,
		  filesize BIGINT NOT NULL,
		  filepath VARCHAR NOT NULL,
		  coverfile VARCHAR NOT NULL,
		  seen BOOLEAN NOT NULL,
		  rating INT NOT NULL
		);
	</value></constructor-arg></bean>
	
	<bean id="CREATE_MOVIE2LANGUAGE" class="java.lang.String"><constructor-arg><value><!-- !!!!!!!!!!!!!!!!! foreign key + unioned primary key -->
		CREATE TABLE movie2language( 
		  idMovie BIGINT NOT NULL,
		  language VARCHAR NOT NULL,
		  PRIMARY KEY (idMovie, language),
		  FOREIGN KEY (idMOvie) REFERENCES movie (id)
		);
	</value></constructor-arg></bean>
	
	<!--<bean id="CREATE_TRIGGER_INSERT_MOVIE" class="java.lang.String"><constructor-arg><value>
		CREATE TRIGGER triggerInsertMovie AFTER UPDATE ON movie CALL at.ac.tuwien.e0525580.omov2.model.MovieTrigger
	</value></constructor-arg></bean>-->
	
	
	
	<bean id="SELECT_ALL_MOVIES" class="java.lang.String"><constructor-arg><value>
		SELECT * FROM movie;
	</value></constructor-arg></bean>
	
	<bean id="SELECT_MOVIE_BY_ID" class="java.lang.String"><constructor-arg><value>
		SELECT * FROM movie WHERE id = ?;
	</value></constructor-arg></bean>
	
	<bean id="SELECT_MOVIE_DISTINCT_TITLES" class="java.lang.String"><constructor-arg><value>
		SELECT DISTINCT(title) FROM movie ORDER BY title ASC;
	</value></constructor-arg></bean>
	
	<bean id="SELECT_MOVIE_DISTINCT_GENRES" class="java.lang.String"><constructor-arg><value>
		SELECT DISTINCT(genre) FROM movie ORDER BY genre ASC;
	</value></constructor-arg></bean>
	
	<bean id="SELECT_ALL_LANGUAGES" class="java.lang.String"><constructor-arg><value>
		SELECT DISTINCT(language) FROM movie2language ORDER BY language ASC;
	</value></constructor-arg></bean>
	
	
	<bean id="SELECT_MOVIE_LANGUAGES" class="java.lang.String"><constructor-arg><value>
		SELECT m2l.language
		  FROM movie2language m2l, movie m
		  WHERE m2l.idMovie = m.id AND
		        m.id = ?
	</value></constructor-arg></bean>



	
	
	
	
	
	<bean id="INSERT_MOVIE" class="java.lang.String"><constructor-arg><value>
		INSERT INTO movie VALUES(?, ?, ?, ?, ?, ?, ?, ?);
	</value></constructor-arg></bean>
	
	<bean id="INSERT_MOVIE2LANGUAGE" class="java.lang.String"><constructor-arg><value>
		INSERT INTO movie2language VALUES(?, ?);
	</value></constructor-arg></bean>
		

	<bean id="LAST_INSERT_ID" class="java.lang.String"><constructor-arg><value>
		CALL IDENTITY();
	</value></constructor-arg></bean>
	
	
	
	
	
	<bean id="UPDATE_MOVIE" class="java.lang.String"><constructor-arg><value>
		UPDATE movie SET title=?, genre=?, filesize=?, filepath=?, coverfile=?, seen=?, rating=? WHERE id=?
	</value></constructor-arg></bean>
	
	
	<bean id="DELETE_MOVIE" class="java.lang.String"><constructor-arg><value>
		DELETE FROM movie WHERE id=?
	</value></constructor-arg></bean>
	
	<bean id="DELETE_MOVIE2LANGUAGE" class="java.lang.String"><constructor-arg><value>
		DELETE FROM movie2language WHERE idMovie=?
	</value></constructor-arg></bean>
	
	<!--  Trigger on UPDATE.movie and DELETE.movie => no DELETE movie2language necessary -->
	
	<!-- 
	
				scandate TIMESTAMP PRIMARY KEY,
				filecount INTEGER NOT NULL, 
				filesize BIGINT NOT NULL,
				hiddencount INTEGER NOT NULL, 
				hiddensize BIGINT NOT NULL, 
				dircount INTEGER NOT NULL, 
				comment VARCHAR, 
				duration BIGINT NOT NULL, 
				hiddendircount INTEGER NOT NULL,
				systemscan BOOLEAN NOT NULL
	 -->
	
	
	
	
	
	
	<bean id="CREATE_SMARTFOLDER" class="java.lang.String"><constructor-arg><value>
		CREATE TABLE smartfolder ( 
		  id BIGINT IDENTITY,
		  title VARCHAR NOT NULL
		);
	</value></constructor-arg></bean>
	
	<bean id="SELECT_ALL_SMARTFOLDERS" class="java.lang.String"><constructor-arg><value>
		SELECT * FROM smartfolder ORDER BY title ASC;
	</value></constructor-arg></bean>
</beans>